body[data-shadergraphpreviewer="1"] {
	overflow-y: hidden;
}
div#shadergraph-previewer-container {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	padding: 20px;
	background-color: rgba(0,0,0,0.5);
}
div#shadergraph-previewer-container #shadergraph-previewer-loader {
	position: absolute;
	left: 21px;
	right: 21px;
	bottom: 21px;
	top: 70px;
	background-color: var(--bgColor-muted,var(--color-canvas-subtle,#161b22));
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--fgColor-muted,var(--color-fg-muted,#848d97));
	border-radius: 0px 0px 6px 6px;
}
div#shadergraph-previewer-header {
	background: var(--bgColor-muted,var(--color-canvas-subtle,#161b22));
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex: 1 1 0%;
	align-items: center;
	justify-content: space-between;
	border-radius: 6px 6px 0px 0px;
	border: 1px solid var(--borderColor-default,var(--color-border-default));
	color: var(--fgColor-muted,var(--color-fg-muted,#848d97));
}
div#shadergraph-previewer-header strong {
	color: var(--fgColor-default, var(--color-fg-default));
}
div#shadergraph-previewer-header button {
	border-radius: 6px;
	border: 1px solid transparent;
	font-family: inherit;
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
	appearance: none;
	user-select: none;
	text-decoration: none;
	text-align: center;
	display: flex;
	-moz-box-align: center;
	align-items: center;
	-moz-box-pack: justify;
	justify-content: space-between;
	height: 32px;
	padding: 0px 12px;
	gap: 8px;
	min-width: max-content;
	transition-duration: 80ms;
	transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
	transition-delay: 0s;
	transition-property: color, fill, background-color, border-color;
	color: var(--button-default-fgColor-rest,var(--color-btn-text,#c9d1d9));
	background-color: transparent;
	box-shadow: none;
	order: 3;
	margin-right: 8px;
	display: inline-grid;
	padding: unset;
	place-content: center;
	width: 32px;
	min-width: unset;
	-webkit-appearance: button;
}
div#shadergraph-previewer-header button:hover {
	background-color: var(--control-transparent-bgColor-hover,var(--color-action-list-item-default-hover-bg,rgba(177,186,196,0.12)));
}
iframe#shadergraph-previewer {
	width: 100%;
	height: calc(100% - 50px);
	border: 1px solid var(--borderColor-default,var(--color-border-default,#30363d));
	border-radius: 0px 0px 6px 6px;
	background-color: var(--selection-bgColor, var(--color-accent-muted));
	border-top: none;
}
#shadergraph-previewer-button {
	border: 1px solid var(--button-default-borderColor-rest,var(--button-default-borderColor-rest,var(--color-btn-border,rgba(240,246,252,0.1))));
	border-radius: 6px;
	width: 28px;
	height: 28px;
	padding: unset;
	background: var(--button-default-bgColor-rest,var(--color-btn-bg,#21262d));
	box-shadow: var(--button-default-shadow-resting,var(--color-btn-shadow,0 0 transparent)),var(--button-default-shadow-inset,var(--color-btn-inset-shadow,0 0 transparent));
	color: var(--button-default-fgColor-rest,var(--color-btn-text,#c9d1d9));
	transition-duration: 80ms;
	transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
	transition-delay: 0s;
	transition-property: color, fill, background-color, border-color;
}
#shadergraph-previewer-button:hover {
	background-color: var(--button-default-bgColor-hover,var(--color-btn-hover-bg,#30363d)) !important;
	border-color: var(--button-default-borderColor-hover,var(--button-default-borderColor-hover,var(--color-btn-hover-border,#8b949e))) !important;
}
#shadergraph-previewer-tooltip {
	margin-left: 10px;
}